@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: large;
    background-color: orchid;
  
}

#ramen-menu {
    display: flex;   
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
   
}


#ramen-menu img {
    width: 250px;  
    height: 200px;
    cursor: pointer; 
   
   
    
}

#ramens {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: turquoise; 
    width: 1000px;
    margin: auto;
}

#new-ramen-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    border: 100px;
    font-style: italic;
    font-size: large;
}




